{% extends 'base.html.twig' %}

{% block title %}Admin login{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" action="{{ path('admin')}}" method="post">
            {% if error %}
                    <div class="alert alert-danger">Невалидно потребителско име или парола!</div>
                {% endif %}
              <div class="form-label-group">
                <input type="email" id="user_name" class="form-control" placeholder="Name" name="_name"required autofocus>
                <label for="inputEmail">Name</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="user_password" class="form-control" placeholder="Password" name="_password"required>
                <label for="inputPassword">Password</label>
              </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
