{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>Plamen Panayotov</h2>
            <span class="subheading">Web Developer</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          {% for about_post in about_posts %}
            <h2 class="post-title">
            {{ about_post.title }}
            </h2>
            <p class="post-subtitle">
            {{ about_post.content }}
            </p>
            {% if app.user %}
                    <a href="{{ path('about_post_edit', {'id': about_post.id}) }}">edit</a>
                    {% endif %}
          {% endfor %}
        </div>
        </div>
        </div>
        <hr>

{% endblock %}