{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>Plamen Panayotov</h2>
            <span class="subheading">Web Developer</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          
            <h2 class="post-title">
              About me...
            </h2>
            <p class="post-subtitle">
              My name is Plamen Panayotov. I am a full-stack web developer. 
              I use different tehnologies and programing languages. 
              I've studied Softwere Engenering at Software Univercity in Sofia.
            </p>
          
          
        </div>
        </div>
        </div>
        <hr>

        <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          
            <h2 class="post-title">
              About me...
            </h2>
            <p class="post-subtitle">
              My name is Plamen Panayotov. I am a full-stack web developer. 
              I use different tehnologies and programing languages. 
              I've studied Softwere Engenering at Software Univercity in Sofia.
            </p>
          
          
        </div>
        </div>
        </div>
        <hr>
{% endblock %}