{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('img/slider-image.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>I create websites</h1>
              {# <h2>Plamen Panayotov - Web Developer</h2> #}
            <span class="subheading">Plamen Panayotov - Web Developer</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="post-title">
              You need a website? Grow your personal brand quickly.
        </h2>
            <p class="post-subtitle">
              Let's work together and build something awesome. Let's turn your idea to an even greater product.
              <a class="stretched-link text-info" href="{{ path('contact') }}">Email Me.</a> 
            </p>
      </div>
    </div>
  </div>



  
{% endblock %}
