{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('img/slider-image.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>I create websites</h1>
              <h2>Plamen Panayotov</h2>
            <span class="subheading">Web Developer</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site heading">
        <span class="subheading">Web Developer</span>
        </div>
        </div>
        </div>
        <hr>


  
{% endblock %}
